<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="Assets/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="Assets/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="Assets/js/popper.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="Assets/js/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="Assets/js/axios.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="Assets/js/qs.min.js" type="text/javascript" charset="utf-8"></script>

    <!-- <script src="Assets/js/iview.min.js" type="text/javascript" charset="utf-8"></script> -->
    <!-- <link rel="stylesheet" type="text/css" href="Assets/css/iview.css" /> -->

    <link rel="stylesheet" type="text/css" href="Assets/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="Assets/css/swiper.min.css" />

    <script src="Assets/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="Assets/js/element-ui.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="Assets/css/element-ui.css" />

    <script src="Assets/js/vuex.js" type="text/javascript" charset="utf-8"></script>

    <script src="Assets/js/tinymce/tinymce.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="Assets/js/jquery.base64.js" type="text/javascript" charset="utf-8"></script>

    <script src="Assets/js/echarts.min.js" type="text/javascript" charset="utf-8"></script>



    <style type="text/css">
        body,
        html {
            overflow-x: hidden;
        }
        
        .text-danger {
            color: #F56C6C !important;
        }
        
        [v-cloak] {
            display: none;
        }
    </style>

    <script type="text/javascript">
        //公用函数定义
        function sleep(fun, ms) {
            setTimeout(fun, ms);
        }

        function loop(fun, ms) {
            fun();
            setInterval(fun, ms);
        }

        addEventListener(
            "load",
            function() {
                setTimeout(hideURLbar, 0);
            },
            false
        );

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

        function linkTo(target) {
            window.location = target
        }
    </script>
</head>

<body>
    <div id="header">
        <el-row>
            <el-col :sm="4" class="text-center">
                <img style="max-width: 120px;max-height: 50px;text-align: center;" src="Storage/global/Logo.png" alt="logo" class="img-fluid">
            </el-col>
            <el-col :sm="18">
                <el-menu :default-active="activeIndex" mode="horizontal">
                    <el-menu-item index="1" @click="linkTo('./index.html')">首页</el-menu-item>
                </el-menu>
            </el-col>
            <el-col :md="2" :xs="24">
                <div style="text-align: center;position: relative;z-index: 999999;" class="mx-auto">
                    <div v-if="login">
                        <el-menu style="position: absolute;z-index: 99999;width: 100%;">
                            <el-submenu index="100">
                                <template slot="title">
                            <div style="overflow-x: hidden;text-overflow: ellipsis;">
                                <span>{{userName}}</span>
                            </div>
                        </template>
                                <el-menu-item index="100-1" style="min-width:100%;padding: 0;position: relative;z-index: 99999;">个人中心</el-menu-item>
                                <el-menu-item @click="logout()" index="100-2" style="min-width:100%;padding: 0;position: relative;z-index: 99999;">退出登录</el-menu-item>
                            </el-submenu>
                        </el-menu>
                    </div>

                    <div v-else>
                        <el-menu>
                            <el-menu-item @click="linkTo('./login.html')">登录</el-menu-item>
                        </el-menu>
                    </div>
                </div>
            </el-col>
        </el-row>
    </div>

    <script>
        var header = new Vue({
            el: "#header",
            data() {
                return {
                    activeIndex: "1",
                    login: false,

                    userName: undefined,
                    identity: undefined,

                }
            },
            mounted() {
                axios.post('./System/Core/API/Function/CheckLogin/index.php', Qs.stringify({}), ).then(function(res) {
                    if ('loginStatus' in res.data) {
                        header.login = res.data.loginStatus
                        if (res.data.loginStatus) {
                            axios.post('./System/Core/API/Function/GetIdentity/index.php', Qs.stringify({}), ).then(function(res) {
                                header.identity = res.data.identity
                            })
                            axios.post('./System/Core/API/Function/GetUserInfo/index.php', Qs.stringify({}), ).then(function(res) {
                                switch (header.identity) {
                                    case 'Student':
                                        header.userName = res.data.slice(1)[0].studentName
                                        break;
                                    case 'Teacher':
                                        header.userName = res.data.slice(1)[0].teacherName
                                        break;
                                }
                            })
                        }
                    }
                })
            },
            methods: {
                showWarning(message) {
                    header.$message({
                        showClose: true,
                        message: message,
                        type: 'warning',
                        duration: 5000
                    });
                },
                showInfo(message) {
                    header.$message({
                        showClose: true,
                        message: message,
                        type: 'info',
                        duration: 5000
                    });
                },
                showSuccess(message) {
                    header.$message({
                        showClose: true,
                        message: message,
                        type: 'success',
                        duration: 5000
                    });
                },
                showError(message) {
                    header.$message({
                        showClose: true,
                        message: message,
                        type: 'error',
                        duration: 5000
                    });
                },
                linkTo(target) {
                    linkTo(target)
                },
                logout() {
                    axios.post('./System/Core/API/Function/Logout/index.php', Qs.stringify({}), ).then(function(res) {
                        if ('error' in res.data) {
                            header.showError(res.data.error)
                        }
                        if ('success' in res.data) {
                            header.showSuccess(res.data.success)
                            sleep(function() {
                                location.href = './index.html'
                            }, 500)
                        }
                        if ('info' in res.data) {
                            header.showInfo(res.data.info)
                        }
                        if ('warning' in res.data) {
                            header.showWarning(res.data.warning)
                        }
                    })
                }
            }
        })
    </script>




    <div id="login" v-cloak>
        <el-row id="loginDom" class="mx-auto">
            <el-col id="loginTitle" :xs="24" :md="24" class="text-center" style="padding:0 20px 0 20px">
                <div style="background: #796AEE !important;color: #fff;height: 300px;">
                    <h1 style="margin:0 auto;position: relative;top: 50%;">欢迎登录</h1>
                </div>
            </el-col>
            <el-col id="loginForm" :xs="24" :md="24" class="text-center" style="padding:10px 20px 0 20px">
                <el-form ref="form" :model="form" label-width="80px" label-position="right" style="max-width: none;">
                    <el-form-item label="登录身份" prop="identity">
                        <!-- <el-switch width="100" style="display: block" v-model="identity" inactive-color="#13ce66" active-color="#ff4949" active-text="教工" inactive-text="学生">
                        </el-switch> -->
                        <el-radio v-model="identity" label="Student">学生</el-radio>
                        <el-radio v-model="identity" label="Teacher">教工</el-radio>
                    </el-form-item>

                    <el-form-item label="账号" prop="account">
                        <el-input v-model="form.account"></el-input>
                    </el-form-item>

                    <el-form-item label="密码" prop="password">
                        <el-input type="password" v-model="form.password"></el-input>
                    </el-form-item>
                </el-form>

                <div class="form-group">
                    <button id="regbtn" type="button" name="loginSubmit" class="btn btn-block btn-primary" @click="onSubmit">登录
                        </button>
                    <div id="loginMessage" class="invalid-feedback text-center">
                    </div>
                </div>
            </el-col>
        </el-row>
    </div>

    <script>
        var login = new Vue({
            el: '#login',
            data() {
                return {

                    identity: 'Student',

                    identityList: [{
                        label: '学生',
                        value: 'Student'
                    }, {
                        label: '教工',
                        value: 'Teacher'
                    }],

                    form: {
                        // 重要字段
                        account: undefined,
                        password: undefined
                    },

                    studentForm: {
                        studentId: undefined,
                        password: undefined
                    },
                    teacherForm: {
                        email: undefined,
                        password: undefined
                    }
                }
            },
            methods: {
                getDate(unixTime) {
                    unixTime = new Date(unixTime)
                    Y = unixTime.getFullYear()
                    M = (unixTime.getMonth() + 1) < 10 ? '0' + (unixTime.getMonth() + 1) : (unixTime.getMonth() + 1)
                    D = unixTime.getDate() < 10 ? '0' + unixTime.getDate() : unixTime.getDate()
                    return Y + '-' + M + '-' + D
                },
                getTime(unixTime) {
                    unixTime = new Date(unixTime)
                    Y = unixTime.getFullYear()
                    M = (unixTime.getMonth() + 1) < 10 ? '0' + (unixTime.getMonth() + 1) : (unixTime.getMonth() + 1)
                    D = unixTime.getDate() < 10 ? '0' + unixTime.getDate() : unixTime.getDate()
                    H = unixTime.getHours() < 10 ? '0' + unixTime.getHours() : unixTime.getHours()
                    i = unixTime.getMinutes() < 10 ? '0' + unixTime.getMinutes() : unixTime.getMinutes()
                    S = unixTime.getSeconds() < 10 ? '0' + unixTime.getSeconds() : unixTime.getSeconds()
                    return Y + '-' + M + '-' + D + ' ' + H + ':' + i + ':' + S
                },
                checkClass() {
                    if (login.form.departmentId && login.form.majorId && login.form.grade && login.form.years) {
                        login.classDisabled = false
                    } else {
                        login.getClass(login.form.departmentId, login.form.majorId)
                        login.classDisabled = true
                    }
                },
                showWarning(message) {
                    login.$message({
                        showClose: true,
                        message: message,
                        type: 'warning',
                        duration: 5000
                    });
                },
                showInfo(message) {
                    login.$message({
                        showClose: true,
                        message: message,
                        type: 'info',
                        duration: 5000
                    });
                },
                showSuccess(message) {
                    login.$message({
                        showClose: true,
                        message: message,
                        type: 'success',
                        duration: 5000
                    });
                },
                showError(message) {
                    login.$message({
                        showClose: true,
                        message: message,
                        type: 'error',
                        duration: 5000
                    });
                },
                linkTo(target) {
                    linkTo(target)
                },
                onSubmit() {
                    for (x in login.form) {
                        if (login.form[x] == null || login.form[x].length == 0) {
                            login.form[x] = undefined
                        }
                    }

                    if (!login.form.account) {
                        login.showError('请输入登陆账号')
                        return
                    }

                    if (!login.form.password) {
                        login.showError('请输入密码')
                        return
                    }
                    switch (login.identity) {
                        case 'Student':
                            login.$set(login.studentForm, 'studentId', login.form.account)
                            login.$set(login.studentForm, 'password', login.form.password)
                            axios.post('./System/Core/API/Student/login/index.php', Qs.stringify({
                                "data": JSON.stringify(login.studentForm)
                            }), ).then(function(res) {
                                // console.log(res)
                                if ('error' in res.data) {
                                    login.showError(res.data.error)
                                }
                                if ('success' in res.data) {
                                    login.showSuccess(res.data.success)
                                    sleep(function() {
                                        location.href = './index.html'
                                    }, 500)
                                }
                                if ('info' in res.data) {
                                    login.showInfo(res.data.info)
                                }
                                if ('warning' in res.data) {
                                    login.showWarning(res.data.warning)
                                }
                            })
                            break;
                        case 'Teacher':
                            login.$set(login.teacherForm, 'email', login.form.account)
                            login.$set(login.teacherForm, 'password', login.form.password)
                            axios.post('./System/Core/API/Teacher/login/index.php', Qs.stringify({
                                "data": JSON.stringify(login.teacherForm)
                            }), ).then(function(res) {
                                // console.log(res)
                                if ('error' in res.data) {
                                    login.showError(res.data.error)
                                }
                                if ('success' in res.data) {
                                    login.showSuccess(res.data.success)
                                    sleep(function() {
                                        location.href = './index.html'
                                    }, 500)
                                }
                                if ('info' in res.data) {
                                    login.showInfo(res.data.info)
                                }
                                if ('warning' in res.data) {
                                    login.showWarning(res.data.warning)
                                }
                            })
                            break;
                    }

                }
            },
            mounted() {

            },
            watch: {

            },
            computed: {

            },
        })

        var resetWindow = function() {
            $('#login').css({
                'min-height': $(window).height() - $('#head').height() - $('#foot').height()
            })

            // if ($(window).width() < 992) {
            //     $("#loginTitle").height(200)
            //     $("#loginTitle").css({
            //         "min-height": ""
            //     })
            // } else {
            //     $("#loginTitle").height($("#loginForm").height())
            //     $("#loginTitle").css({
            //         "min-height": 300
            //     })
            // }

        }
        $(document).ready(function() {
            resetWindow()
            $(window).resize(function() {
                resetWindow()
            })
        })
    </script>
</body>

</html>