<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="Assets/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="Assets/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="Assets/js/popper.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="Assets/js/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="Assets/js/axios.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="Assets/js/qs.min.js" type="text/javascript" charset="utf-8"></script>

    <!-- <script src="Assets/js/iview.min.js" type="text/javascript" charset="utf-8"></script> -->
    <!-- <link rel="stylesheet" type="text/css" href="Assets/css/iview.css" /> -->

    <link rel="stylesheet" type="text/css" href="Assets/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="Assets/css/swiper.min.css" />

    <script src="Assets/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="Assets/js/element-ui.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="Assets/css/element-ui.css" />

    <script src="Assets/js/vuex.js" type="text/javascript" charset="utf-8"></script>

    <script src="Assets/js/tinymce/tinymce.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="Assets/js/jquery.base64.js" type="text/javascript" charset="utf-8"></script>

    <script src="Assets/js/echarts.min.js" type="text/javascript" charset="utf-8"></script>



    <style type="text/css">
        body,
        html {
            overflow-x: hidden;
        }
        
        .text-danger {
            color: #F56C6C !important;
        }
        
        [v-cloak] {
            display: none;
        }
    </style>

    <script type="text/javascript">
        //公用函数定义
        function sleep(fun, ms) {
            setTimeout(fun, ms);
        }

        function loop(fun, ms) {
            fun();
            setInterval(fun, ms);
        }

        addEventListener(
            "load",
            function() {
                setTimeout(hideURLbar, 0);
            },
            false
        );

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

        function linkTo(target) {
            window.location = target
        }
    </script>
</head>

<body>
    <div id="register" v-cloak>
        <el-row>
            <el-col :sm="4" class="text-center">
                <img style="max-width: 120px;max-height: 50px;text-align: center;" src="Storage/global/Logo.png" alt="logo" class="img-fluid">
            </el-col>
            <el-col :sm="18">
                <el-menu :default-active="activeIndex" mode="horizontal">
                    <el-menu-item index="1" @click="linkTo('./index.html')">首页</el-menu-item>
                </el-menu>
            </el-col>
            <el-col :md="2" :xs="24">
                <div style="text-align: center;position: relative;z-index: 999999;" class="mx-auto">
                    <el-menu style="position: absolute;z-index: 99999;width: 100%;">
                        <el-submenu index="100">
                            <template slot="title">
                                <div style="overflow-x: hidden;text-overflow: ellipsis;">
                                    <span>123123213321321323</span>
                                </div>
                            </template>
                            <el-menu-item index="100-1" style="min-width:100%;padding: 0;position: relative;z-index: 99999;">个人中心</el-menu-item>
                            <el-menu-item index="100-2" style="min-width:100%;padding: 0;position: relative;z-index: 99999;">退出登录</el-menu-item>
                        </el-submenu>
                    </el-menu>
                </div>
            </el-col>
        </el-row>

        <el-row>
            <el-col id="registerTitle" :xs="24" :md="12" class="text-center" style="padding:0 20px 0 20px">
                <div style="background: #796AEE !important;color: #fff;height: 100%;">
                    <h1 style="margin:0 auto;position: relative;top: 50%;">学生注册</h1>
                </div>
            </el-col>
            <el-col id="registerForm" :xs="24" :md="12" class="text-center" style="padding:10px 20px 0 20px">
                <el-form :rules="rules" ref="form" :model="form" label-width="80px" label-position="right" style="max-width: none;">
                    <el-form-item label="姓名" prop="studentName">
                        <el-input v-model="form.studentName"></el-input>
                    </el-form-item>

                    <el-form-item label="身份证" prop="idCard">
                        <el-input v-model="form.idCard"></el-input>
                    </el-form-item>

                    <el-form-item label="密码" prop="password">
                        <el-input type="password" v-model="form.password"></el-input>
                    </el-form-item>

                    <el-form-item label="确认密码" prop="confirmPassword">
                        <el-input type="password" v-model="form.confirmPassword"></el-input>
                    </el-form-item>

                    <el-form-item label="年级" prop="grade">
                        <el-select v-model="form.grade" placeholder="请选择所在年级" class="w-100" @change="()=>{checkClass()}">
                            <el-option v-for="data in gradeList" :key="data.grade" :label="data.grade + '级'" :value="data.grade"></el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="学制" prop="years">
                        <el-input-number @change="(v)=>{checkClass()}" v-model="form.years" :min="1" :max="9" label="学制" class="w-100"></el-input-number>
                    </el-form-item>

                    <el-form-item label="学系" prop="departmentId">
                        <el-select @change="(v)=>{getMajor(v);checkClass()}" v-model="form.departmentId" placeholder="请选择所在学系" class="w-100">
                            <el-option v-for="data in departmentList" :key="data.departmentId" :label="data.departmentName" :value="data.departmentId"></el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="专业" prop="majorId">
                        <el-select @change="(v)=>{getClass(form.departmentId,v);checkClass()}" v-model="form.majorId" placeholder="请选择所在专业" class="w-100">
                            <el-option v-for="data in majorList" :key="data.majorId" :label="data.majorName" :value="data.majorId"></el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="班次" prop="Class">
                        <el-select :disabled="classDisabled" v-model="form.class" placeholder="请选择所在班次" class="w-100">
                            <el-option v-for="data in classList" :key="data.class" :label="data.class + '班'" :value="data.class"></el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="座号" prop="seat">
                        <el-input-number v-model="form.seat" :min="1" :max="99" label="座号" class="w-100"></el-input-number>
                    </el-form-item>

                    <el-form-item label="出生日期" prop="bothUnix">
                        <el-date-picker v-model="form.bothUnix" type="date" placeholder="选择日期" class="w-100">
                        </el-date-picker>
                    </el-form-item>

                    <el-form-item label="性别" prop="gender">
                        <el-select v-model="form.gender" placeholder="请选择性别" class="w-100">
                            <el-option label="男" value="男"></el-option>
                            <el-option label="女" value="女"></el-option>
                        </el-select>
                    </el-form-item>
                </el-form>


                <div class="form-group">
                    <button id="regbtn" type="button" name="registerSubmit" class="btn btn-block btn-primary" @click="onSubmit">注册
                        </button>
                    <div id="RegisterMessage" class="invalid-feedback text-center">
                    </div>
                </div>
                <small>已有账号?</small>
                <a href="./login.html" class="signup">&nbsp;登录</a>
            </el-col>
        </el-row>

    </div>

    <script>
        console.log = function() {}
        var register = new Vue({
            el: '#register',
            data() {

                return {
                    activeIndex: "1",

                    rules: {
                        studentName: [{
                            required: true,
                            message: '请输入姓名',
                            trigger: ['blur']
                        }],
                        idCard: [{
                            required: true,
                            message: '请输入身份证号码',
                            trigger: ['blur']
                        }],
                        password: [{
                            required: true,
                            message: '请输入密码',
                            trigger: ['blur']
                        }],
                        confirmPassword: [{
                            required: true,
                            message: '请输入密码',
                            trigger: ['blur']
                        }],
                    },

                    departmentList: '',
                    majorList: '',
                    gradeList: "",
                    classList: '',

                    classDisabled: true,

                    form: {
                        // 重要字段
                        idCard: undefined,
                        grade: undefined,
                        years: 3,
                        departmentId: undefined,
                        majorId: undefined,
                        class: undefined,

                        password: undefined,
                        confirmPassword: undefined,
                        classId: undefined,
                        seat: undefined,
                        studentId: undefined,
                        studentName: undefined,
                        gender: undefined,
                        bothUnix: undefined,
                        both: undefined,
                    },
                }
            },
            methods: {
                getDate(unixTime) {
                    unixTime = new Date(unixTime)
                    Y = unixTime.getFullYear()
                    M = (unixTime.getMonth() + 1) < 10 ? '0' + (unixTime.getMonth() + 1) : (unixTime.getMonth() + 1)
                    D = unixTime.getDate() < 10 ? '0' + unixTime.getDate() : unixTime.getDate()
                    return Y + '-' + M + '-' + D
                },
                getTime(unixTime) {
                    unixTime = new Date(unixTime)
                    Y = unixTime.getFullYear()
                    M = (unixTime.getMonth() + 1) < 10 ? '0' + (unixTime.getMonth() + 1) : (unixTime.getMonth() + 1)
                    D = unixTime.getDate() < 10 ? '0' + unixTime.getDate() : unixTime.getDate()
                    H = unixTime.getHours() < 10 ? '0' + unixTime.getHours() : unixTime.getHours()
                    i = unixTime.getMinutes() < 10 ? '0' + unixTime.getMinutes() : unixTime.getMinutes()
                    S = unixTime.getSeconds() < 10 ? '0' + unixTime.getSeconds() : unixTime.getSeconds()
                    return Y + '-' + M + '-' + D + ' ' + H + ':' + i + ':' + S
                },
                checkClass() {
                    if (register.form.departmentId && register.form.majorId && register.form.grade && register.form.years) {
                        register.classDisabled = false
                    } else {
                        register.getClass(register.form.departmentId, register.form.majorId)
                        register.classDisabled = true
                    }
                },
                showWarning(message) {
                    register.$message({
                        showClose: true,
                        message: message,
                        type: 'warning',
                        duration: 5000
                    });
                },
                showInfo(message) {
                    register.$message({
                        showClose: true,
                        message: message,
                        type: 'info',
                        duration: 5000
                    });
                },
                showSuccess(message) {
                    register.$message({
                        showClose: true,
                        message: message,
                        type: 'success',
                        duration: 5000
                    });
                },
                showError(message) {
                    register.$message({
                        showClose: true,
                        message: message,
                        type: 'error',
                        duration: 5000
                    });
                },
                getClass(departmentId, majorId) {
                    if (register.form.departmentId && register.form.majorId && register.form.grade && register.form.years) {
                        axios.post('./System/Core/API/Class/GetClass/index.php', Qs.stringify({
                            "data": JSON.stringify({
                                "departmentId": departmentId,
                                "majorId": majorId,
                                "grade": register.form.grade,
                                "years": register.form.years,
                            }),
                            "filter": JSON.stringify({
                                "page": "1",
                                "num": "999999",
                            })
                        }), ).then(function(res) {
                            console.log(res)
                            if ('error' in res.data) {
                                register.showError(res.data.error)
                            } else {
                                register.$set(register, 'classList', res.data.slice(1))
                            }
                        })
                    }
                },
                getMajor(departmentId) {
                    console.log(departmentId)
                    axios.post('./System/Core/API/Major/GetMajor/index.php', Qs.stringify({
                        "data": JSON.stringify({
                            "departmentId": departmentId
                        }),
                        "filter": JSON.stringify({
                            "page": "1",
                            "num": "999999",
                        })
                    }), ).then(function(res) {
                        console.log(res)
                        if ('error' in res.data) {
                            register.showError(res.data.error)
                        } else {
                            register.$set(register, 'majorList', res.data.slice(1))
                        }
                    })
                },
                linkTo(target) {
                    linkTo(target)
                },
                onSubmit() {
                    for (x in register.form) {
                        if (register.form[x] == null || register.form[x].length == 0) {
                            register.form[x] = undefined
                        } else {
                            switch (x) {
                                case 'seat':
                                    if (parseInt(register.form[x]) < 10) {
                                        register.$set(register.form, x, '0' + register.form[x])
                                    }
                                    break;
                                case 'class':
                                    register.$set(register.form, "classId", register.form.grade + register.form.years + register.form.departmentId + register.form.majorId + register.form.class)
                                    break;
                            }
                        }
                    }

                    if (!reister.form.studentName) {
                        register.showError('请输入姓名')
                        return
                    } else if (reister.form.studentName.length <= 1) {
                        register.showError('姓名格式错误')
                        return
                    }

                    var id18 = /^([1-6][1-9]|50)\d{4}(18|19|20)\d{2}((0[1-9])|10|11|12)(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/
                    var id15 = /^([1-6][1-9]|50)\d{4}\d{2}((0[1-9])|10|11|12)(([0-2][1-9])|10|20|30|31)\d{3}$/

                    if (!register.form.password) {
                        register.showError('请输入密码')
                        return
                    } else if (register.form.password.length < 6) {
                        register.showError('密码长度不能小于6个字符')
                        return
                    } else if (!register.form.confirmPassword) {
                        register.showError('请输入确认密码')
                        return
                    } else if (register.form.password !== register.form.confirmPassword) {
                        register.showError('密码 与 确认密码不一致')
                        return
                    }

                    if (!register.form.idCard) {
                        register.showError('请输入身份证号码')
                        return
                    } else if (!(id18.test(register.form.idCard) || id15.test(register.form.idCard))) {
                        register.showError('身份证格式不正确')
                        return
                    } else {
                        register.form.idCard = register.form.idCard.toUpperCase()
                    }

                    if (!register.form.bothUnix) {
                        register.showError('请输入出生日期')
                        return
                    } else {
                        register.$set(register.form, 'both', register.getDate(register.form.bothUnix))
                    }

                    if (!register.form.gender) {
                        register.showError('请选择性别')
                        return
                    }

                    if (register.form.classId && register.form.classId.length == 8) {
                        if (register.form.seat) {
                            register.form.studentId = register.form.classId + register.form.seat
                        } else {
                            register.showError('请填写座号')
                            return
                        }
                    } else {
                        register.showError('请将年级、院系、专业、班级等相关信息填写完整')
                        return
                    }

                    console.log(Qs.stringify({
                        "data": JSON.stringify(register.form)
                    }))

                    console.log(JSON.stringify(register.form))

                    axios.post('./System/Core/API/Student/Register/index.php', Qs.stringify({
                        // "data": JSON.stringify({
                        //     "studentId": "1730502127",
                        //     "studentName": "郑晓彬",
                        //     "gender": "男",
                        //     "both": "1999-07-10",
                        //     "password": "123+AbC",
                        //     "grade": "17",
                        //     "years": "3",
                        //     "departmentId": "05",
                        //     "majorId": "02",
                        //     "classId": "17305021",
                        //     "class": "1",
                        //     "seat": "27",
                        //     "idCard": "440000199907102912"
                        // }),
                        "data": JSON.stringify(register.form)
                    }), ).then(function(res) {
                        // console.log(res)
                        if ('error' in res.data) {
                            register.showError(res.data.error)
                        }
                        if ('success' in res.data) {
                            register.showSuccess(res.data.success)
                        }
                        if ('info' in res.data) {
                            register.showInfo(res.data.info)
                        }
                        if ('warning' in res.data) {
                            register.showWarning(res.data.warning)
                        }
                    })
                }
            },
            mounted() {
                axios.post('./System/Core/API/Grade/GetGrade/index.php', Qs.stringify({
                    "data": JSON.stringify({
                        "": ""
                    }),
                    "filter": JSON.stringify({
                        "page": "1",
                        "num": "3",
                        "arg": "distinct",
                    })
                }), ).then(function(res) {
                    console.log(res)
                    if ('error' in res.data) {
                        register.showError(res.data.error)
                    } else {
                        register.$set(register, 'gradeList', res.data.slice(1))
                    }
                })

                axios.post('./System/Core/API/Department/GetDepartment/index.php', Qs.stringify({
                    "data": JSON.stringify({
                        "": ""
                    }),
                    "filter": JSON.stringify({
                        "page": "1",
                        "num": "999999",
                    })
                }), ).then(function(res) {
                    console.log(res)
                    if ('error' in res.data) {
                        register.showError(res.data.error)
                    } else {
                        register.$set(register, 'departmentList', res.data.slice(1))
                    }
                })
            },
            watch: {

            },
            computed: {

            },
        })

        var resetWindow = function() {
            $('#register').css({
                'min-height': $(window).height() - $('#head').height() - $('#foot').height()
            })

            if ($(window).width() < 992) {
                $("#registerTitle").height(200)
            } else {
                $("#registerTitle").height($("#registerForm").height())
            }

        }
        $(document).ready(function() {
            resetWindow()
            $(window).resize(function() {
                resetWindow()
            })
        })
    </script>
</body>

</html>