<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="Assets/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="Assets/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="Assets/js/popper.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="Assets/js/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="Assets/js/axios.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="Assets/js/qs.min.js" type="text/javascript" charset="utf-8"></script>

    <!-- <script src="Assets/js/iview.min.js" type="text/javascript" charset="utf-8"></script> -->
    <!-- <link rel="stylesheet" type="text/css" href="Assets/css/iview.css" /> -->

    <link rel="stylesheet" type="text/css" href="Assets/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="Assets/css/swiper.min.css" />

    <script src="Assets/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="Assets/js/element-ui.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="Assets/css/element-ui.css" />

    <script src="Assets/js/vuex.js" type="text/javascript" charset="utf-8"></script>

    <script src="Assets/js/tinymce/tinymce.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="Assets/js/jquery.base64.js" type="text/javascript" charset="utf-8"></script>

    <script src="Assets/js/echarts.min.js" type="text/javascript" charset="utf-8"></script>



    <style type="text/css">
        body,
        html {
            overflow-x: hidden;
        }
        
        .text-danger {
            color: #F56C6C !important;
        }
        
        [v-cloak] {
            display: none;
        }
    </style>

    <script type="text/javascript">
        //公用函数定义
        function sleep(fun, ms) {
            setTimeout(fun, ms);
        }

        function loop(fun, ms) {
            fun();
            setInterval(fun, ms);
        }

        addEventListener(
            "load",
            function() {
                setTimeout(hideURLbar, 0);
            },
            false
        );

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

        function linkTo(target) {
            window.location = target
        }
    </script>
</head>

<body>
    <div id="header">
        <el-row>
            <el-col :sm="4" class="text-center">
                <img style="max-width: 120px;max-height: 50px;text-align: center;" src="Storage/global/Logo.png" alt="logo" class="img-fluid">
            </el-col>
            <el-col :sm="18">
                <el-menu :default-active="activeIndex" mode="horizontal">
                    <el-menu-item index="1" @click="linkTo('./index.html')">首页</el-menu-item>
                </el-menu>
            </el-col>
            <el-col :md="2" :xs="24">
                <div style="text-align: center;position: relative;z-index: 999999;height:61px" class="mx-auto">
                    <div v-if="login">
                        <el-menu style="position: absolute;z-index: 99999;width: 100%;">
                            <el-submenu index="100">
                                <template slot="title">
                                    <div style="overflow-x: hidden;text-overflow: ellipsis;">
                                        <span>{{userName}}</span>
                                    </div>
                                </template>
                                <el-menu-item index="100-1" style="min-width:100%;padding: 0;position: relative;z-index: 99999;">个人中心</el-menu-item>
                                <el-menu-item @click="logout()" index="100-2" style="min-width:100%;padding: 0;position: relative;z-index: 99999;">退出登录</el-menu-item>
                            </el-submenu>
                        </el-menu>
                    </div>

                    <div v-else>
                        <el-menu>
                            <el-menu-item @click="linkTo('./login.html')">登录</el-menu-item>
                        </el-menu>
                    </div>
                </div>
            </el-col>
        </el-row>
    </div>

    <script>
        var header = new Vue({
            el: "#header",
            data() {
                return {
                    activeIndex: "1",
                    login: false,

                    userName: undefined,
                    identity: undefined,

                }
            },
            mounted() {
                axios.post('./System/Core/API/Function/CheckLogin/index.php', Qs.stringify({}), ).then(function(res) {
                    if ('loginStatus' in res.data) {
                        header.login = res.data.loginStatus
                        if (res.data.loginStatus) {
                            axios.post('./System/Core/API/Function/GetIdentity/index.php', Qs.stringify({}), ).then(function(res) {
                                header.identity = res.data.identity
                                axios.post('./System/Core/API/Function/GetUserInfo/index.php', Qs.stringify({}), ).then(function(res) {
                                    switch (header.identity) {
                                        case 'Student':
                                            header.userName = res.data.slice(1)[0].studentName
                                            break;
                                        case 'Teacher':
                                            header.userName = res.data.slice(1)[0].teacherName
                                            break;
                                    }
                                })
                            })
                        }
                    }
                })
            },
            methods: {
                showWarning(message) {
                    header.$message({
                        showClose: true,
                        message: message,
                        type: 'warning',
                        duration: 5000
                    });
                },
                showInfo(message) {
                    header.$message({
                        showClose: true,
                        message: message,
                        type: 'info',
                        duration: 5000
                    });
                },
                showSuccess(message) {
                    header.$message({
                        showClose: true,
                        message: message,
                        type: 'success',
                        duration: 5000
                    });
                },
                showError(message) {
                    header.$message({
                        showClose: true,
                        message: message,
                        type: 'error',
                        duration: 5000
                    });
                },
                linkTo(target) {
                    linkTo(target)
                },
                logout() {
                    axios.post('./System/Core/API/Function/Logout/index.php', Qs.stringify({}), ).then(function(res) {
                        if ('error' in res.data) {
                            header.showError(res.data.error)
                        }
                        if ('success' in res.data) {
                            header.showSuccess(res.data.success)
                            sleep(function() {
                                location.href = './index.html'
                            }, 500)
                        }
                        if ('info' in res.data) {
                            header.showInfo(res.data.info)
                        }
                        if ('warning' in res.data) {
                            header.showWarning(res.data.warning)
                        }
                    })
                }
            }
        })
    </script>

    <div id="management">
        <el-row>
            <el-col :xs="nav_Menu_xs" :sm="nav_Menu_sm" :md="nav_Menu_md">
                <el-menu style="overflow-x:hidden" :default-active="index" :collapse="collapse" @select="(i,path)=>{this.$set(this,'index',i);log(path)}" @open="" @close="">
                    <el-button type="text" @click="()=>{collapse = !collapse}" :icon="collapse?'el-icon-s-unfold':'el-icon-s-fold'" class="w-100">
                        {{collapse?'':''}}
                    </el-button>

                    <el-submenu index="1">
                        <template slot="title">
                            <i class="el-icon-user-solid"></i>
                            <span>学生详情</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="1-1">课程信息</el-menu-item>
                            <el-menu-item index="1-2">班级信息</el-menu-item>
                            <el-menu-item index="1-3">学生信息</el-menu-item>
                            <el-menu-item index="1-4">分数登记</el-menu-item>
                        </el-menu-item-group>
                        <el-menu-item-group title="管理员功能" v-if="permission == '0' || permission == '1' ">
                            <el-menu-item index="1-5">学生信息管理</el-menu-item>
                            <el-menu-item index="1-6">分数信息管理</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>

                    <el-submenu index="2" v-if="permission == '0' || permission == '1'">
                        <template slot="title">
                            <i class="el-icon-s-custom"></i>
                            <span slot="title">教工详情</span>
                        </template>
                        <el-menu-item-group title="管理员功能">
                            <el-menu-item index="2-1">教工信息管理</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>

                    <el-menu-item index="3">
                        <i class="el-icon-notebook-1"></i>
                        <span slot="title">院系管理</span>
                    </el-menu-item>
                    <el-menu-item index="4">
                        <i class="el-icon-notebook-2"></i>
                        <span slot="title">专业管理</span>
                    </el-menu-item>
                </el-menu>
            </el-col>
            <el-col :xs="24 - nav_Menu_xs == 0?24:24 - nav_Menu_xs" :sm="24 - nav_Menu_sm" :md="24 - nav_Menu_md">
                <span>test</span>
            </el-col>
        </el-row>
    </div>
    <script>
        var management = new Vue({
            el: "#management",
            data() {
                return {
                    index: '1-1',
                    collapse: false,
                    nav_Menu_xs: 24,
                    nav_Menu_sm: 4,
                    nav_Menu_md: 4,

                    identity: undefined,
                    permission: undefined,
                    permissionList: {
                        0: '超级管理员',
                        1: '管理员',
                        2: '普通教工'
                    },
                    permissionName: undefined,

                    page: 1,
                    num: 10,


                    dataChannel: {
                        '1-1': './System/Core/API/Course/GetCourse/index.php',
                        '1-2': './System/Core/API/Class/GetClass/index.php',
                        '1-3': './System/Core/API/Management/GetStudent/index.php',
                        '1-4': './System/Core/API/Score/GetScore/index.php',
                        '1-5': './System/Core/API/Management/GetStudent/index.php',
                        '1-6': './System/Core/API/Score/GetScore/index.php',

                        '2-1': './System/Core/API/Management/GetTeacher/index.php',
                    },
                    dataModel: {
                        '1-1': {
                            classId: undefined,
                            courseName: undefined,
                            teacherName: undefined,
                            classId: undefined,
                            teacherId: undefined,

                            startTime: undefined,
                            endTime: undefined,
                            public: undefined
                        },
                        '1-2': {
                            departmentId: undefined,
                            departmentName: undefined,
                            majorId: undefined,
                            majorName: undefined,
                            grade: undefined,

                            years: undefined,
                            class: undefined,
                            classId: undefined,
                            studentName: undefined,
                        },
                        '1-3': {
                            studentName: undefined,
                            studentId: undefined,
                            gender: undefined,
                            departmentId: undefined,
                            departmentName: undefined,
                            majorId: undefined,
                            majorName: undefined,
                            contact: undefined,

                            years: undefined,
                            class: undefined,
                            classId: undefined,
                            seat: undefined,
                            idCard: undefined,
                            address: undefined,
                            active: undefined
                        },
                        '1-4': {
                            courseId: undefined,
                            courseName: undefined,
                            teacherId: undefined,
                            teacherName: undefined,
                            studentId: undefined,
                            studentName: undefined,

                            score: undefined,
                            flag: undefined,
                        },
                        '1-5': {
                            studentName: undefined,
                            studentId: undefined,
                            gender: undefined,
                            departmentId: undefined,
                            departmentName: undefined,
                            majorId: undefined,
                            majorName: undefined,
                            contact: undefined,

                            years: undefined,
                            class: undefined,
                            classId: undefined,
                            seat: undefined,
                            idCard: undefined,
                            address: undefined,
                            active: undefined
                        },
                        '1-6': {
                            courseId: undefined,
                            courseName: undefined,
                            teacherId: undefined,
                            teacherName: undefined,
                            studentId: undefined,
                            studentName: undefined,

                            score: undefined,
                            flag: undefined,
                        },

                        '2-1': {
                            teacherName: undefined,
                            departmentId: undefined,
                            departmentName: undefined,
                            gender: undefined,
                            contact: undefined,
                            idCard: undefined,
                            both: undefined,
                            permission: undefined,
                            address: undefined,
                            active: undefined,
                            email: undefined
                        },



                    },

                    classFilter: {},
                    studentFilter: {}
                }
            },
            watch: {
                collapse(n, o) {
                    if (n) {
                        this.nav_Menu_xs = 5
                        this.nav_Menu_sm = 2
                        this.nav_Menu_md = 2
                    } else {
                        this.nav_Menu_xs = 24
                        this.nav_Menu_sm = 4
                        this.nav_Menu_md = 3
                    }
                },
                index(n, o) {
                    this.page = 1
                    this.num = 10
                }
            },
            mounted() {
                axios.post('./System/Core/API/Function/CheckLogin/index.php', Qs.stringify({}), ).then(function(res) {
                    if ('loginStatus' in res.data) {
                        management.login = res.data.loginStatus
                        if (res.data.loginStatus) {
                            axios.post('./System/Core/API/Function/GetIdentity/index.php', Qs.stringify({}), ).then(function(res) {
                                management.identity = res.data.identity
                                if (management.identity != 'Teacher') {
                                    management.$alert('您无权访问此页面', '错误', {
                                        confirmButtonText: '确定',
                                        callback: action => {
                                            location.href = './index.html'
                                        }
                                    });
                                } else {
                                    axios.post('./System/Core/API/Management/GetPermission/index.php', Qs.stringify({}), ).then(function(res) {
                                        management.permission = res.data
                                        management.permissionName = management.permissionList[management.permission]
                                    })

                                    management.getData()
                                }
                            })
                        } else {
                            management.$alert('请先登录', '错误', {
                                confirmButtonText: '确定',
                                callback: action => {
                                    location.href = './login.html'
                                }
                            });
                        }
                    }
                })
            },
            methods: {
                getData() {
                    axios.post(management.dataChannel[management.index], Qs.stringify({
                            "data": JSON.stringify(
                                management.dataModel[management.index]
                            ),
                            "filter": JSON.stringify({
                                "page": management.page,
                                "num": management.num
                            })
                        }))
                        .then(function(res) {
                            console.log(res)
                        })
                },
                getDate(unixTime) {
                    unixTime = new Date(unixTime)
                    Y = unixTime.getFullYear()
                    M = (unixTime.getMonth() + 1) < 10 ? '0' + (unixTime.getMonth() + 1) : (unixTime.getMonth() + 1)
                    D = unixTime.getDate() < 10 ? '0' + unixTime.getDate() : unixTime.getDate()
                    return Y + '-' + M + '-' + D
                },
                getTime(unixTime) {
                    unixTime = new Date(unixTime)
                    Y = unixTime.getFullYear()
                    M = (unixTime.getMonth() + 1) < 10 ? '0' + (unixTime.getMonth() + 1) : (unixTime.getMonth() + 1)
                    D = unixTime.getDate() < 10 ? '0' + unixTime.getDate() : unixTime.getDate()
                    H = unixTime.getHours() < 10 ? '0' + unixTime.getHours() : unixTime.getHours()
                    i = unixTime.getMinutes() < 10 ? '0' + unixTime.getMinutes() : unixTime.getMinutes()
                    S = unixTime.getSeconds() < 10 ? '0' + unixTime.getSeconds() : unixTime.getSeconds()
                    return Y + '-' + M + '-' + D + ' ' + H + ':' + i + ':' + S
                },
                log(v) {
                    console.log(v)
                },
                showWarning(message) {
                    header.$message({
                        showClose: true,
                        message: message,
                        type: 'warning',
                        duration: 5000
                    });
                },
                showInfo(message) {
                    header.$message({
                        showClose: true,
                        message: message,
                        type: 'info',
                        duration: 5000
                    });
                },
                showSuccess(message) {
                    header.$message({
                        showClose: true,
                        message: message,
                        type: 'success',
                        duration: 5000
                    });
                },
                showError(message) {
                    header.$message({
                        showClose: true,
                        message: message,
                        type: 'error',
                        duration: 5000
                    });
                },
                linkTo(target) {
                    linkTo(target)
                },
            }
        })
    </script>

</body>